.background {
    background-image: linear-gradient(to bottom right, rgb(37, 210, 222), rgb(0, 34, 255));
    background-size: cover;
    height: 100%;
    position: relative;
}

.menu {
    text-align: right;
    font-size: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    padding-top: 2em;
    padding-left: 9em;
}

p {
    color: #ffffff;
    font-size: 18px;
    padding-right: 2px;
    padding-left: 25em;
}

.card {
    transition: .2s;
    border: 2px solid rgb(20, 201, 214);
    width: 270px;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    transform: scale(1);
    /* width: 286px; */
    box-sizing: content-box;
    border: 1px solid white;
    box-shadow: 4px 6px 16px 6px #eee;
}

.text {
    font-size: 14px;
    padding-left: 0px;
    color: black;

}

.btn {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.desc {
    font-size: 14px;
}

.card-img {
    width: 100%;
    border-radius: 50%;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    background-image: linear-gradient(to bottom left, rgb(0, 34, 255), rgb(0, 238, 255))
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #2D3A3D;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    max-width: 300px;
    height: 215px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 300ms ease-in-out;
}

.container .card:hover {
    height: 420px;
    cursor: pointer;
}

.container .card .img-box {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .card .img-box img {
    max-width: 100%;
    border-radius: 4px;

}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 300ms;
}